<?xml version="1.0" ?>
<!--
/**
* Project: CGI Magento Trainee
*
* Additional shipping cost
*
* @category    Cgi
* @package     Cgi_Shippingcost
* @author      Evi
* email:       efremova.vasilina@mail.ru
*/
-->
<config>
    <modules>
        <Cgi_Shippingcost>
            <version>0.1.2</version>
        </Cgi_Shippingcost>
    </modules>

    <global>
        <blocks>
            <shippingcost>
                <class>Cgi_Shippingcost_Block</class>
            </shippingcost>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Cgi_Shippingcost_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Cgi_Shippingcost_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Cgi_Shippingcost_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Cgi_Shippingcost_Block_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <shippingcost>
                <class>Cgi_Shippingcost_Model</class>
            </shippingcost>
        </models>
        <helpers>
            <shippingcost>
                <class>Cgi_Shippingcost_Helper</class>
            </shippingcost>
        </helpers>
        <resources>
            <scost_setup>
                <setup>
                    <module>Cgi_Shippingcost</module>
                </setup>
            </scost_setup>
        </resources>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <total_shippingcost_amount />
                    </product_attributes>
                </item>
                <totals>
                    <shippingcost>
                        <class>shippingcost/quote</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingcost>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <shippingcost>
                        <class>shippingcost/invoice</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingcost>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shippingcost>
                        <class>shippingcost/creditmemo</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </shippingcost>
                </totals>
            </order_creditmemo>
        </sales>

        <fieldsets>
            <sales_convert_quote>
                <shippingcost>
                    <to_order>*</to_order>
                </shippingcost>
            </sales_convert_quote>
            <sales_convert_order>
                <shippingcost>
                    <to_quote>*</to_quote>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </shippingcost>
            </sales_convert_order>
        </fieldsets>

        <events>
            <sales_quote_item_set_product>
                <observers>
                    <shippingcost>
                        <class>shippingcost/observer</class>
                        <method>saveQuoteShippingCostAmount</method>
                    </shippingcost>
                </observers>
            </sales_quote_item_set_product>

            <sales_order_place_after>
                <observers>
                    <delivery_date_observer>
                        <type>singleton</type>
                        <class>shippingcost/observer</class>
                        <method>saveOrderShippingCostAmount</method>
                    </delivery_date_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>