<?xml version="1.0" ?>
<!--
/**
* Project: CGI Magento Trainee
*
* Additional shipping cost
*
* @category    Cgi
* @package     Cgi_Shippingcost
* @author      Evi
* email:       efremova.vasilina@mail.ru
*/
-->
<config>
    <modules>
        <Cgi_Shippingcost>
            <version>0.1.0</version>
        </Cgi_Shippingcost>
    </modules>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Cgi_Shippingcost_Adminhtml_Block_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Cgi_Shippingcost_Adminhtml_Block_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Cgi_Shippingcost_Adminhtml_Block_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <shippingcost>
                <class>Cgi_Shippingcost_Model</class>
            </shippingcost>
        </models>
        <helpers>
            <shippingcost>
                <class>Cgi_Shippingcost_Helper</class>
            </shippingcost>
        </helpers>
        <resources>
            <scost_setup>
                <setup>
                    <module>Cgi_Shippingcost</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </scost_setup>
        </resources>

        <sales>
            <quote>
                <totals>
                    <shippingcost>
                        <class>shippingcost/quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <shippingcost>
                        <class>shippingcost/invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shippingcost>
                        <class>shippingcost/creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
            </order_creditmemo>
        </sales>
    </global>

    <default>
        <sales>
            <totals_sort>
                <shippingcost>15</shippingcost>
            </totals_sort>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <shippingcost>
                        <type>singleton</type>
                        <class>shippingcost/observer</class>
                        <method>addScreenToPayPal</method>
                    </shippingcost>
                </observers>
            </paypal_prepare_line_items>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <shippingcost>
                        <class>shippingcost/observer</class>
                        <method>createSippingCost</method>
                    </shippingcost>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </default>
</config>